<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Packages" value="C:\Packages" />
    <!-- <add key="LocalBaGet" value="http://baget:80/v3/index.json" allowInsecureConnections="true" maxRetryCount="1" retryDelaySeconds="3" /> -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

</configuration>